body::-webkit-scrollbar {
    display: none;
}

.footer {
    position: fixed;
    bottom: 0;
    background-color: #242424;
    width: 100%;
    padding: 10px;

    display: flex;
    justify-content: space-between;
}

.footer__left {
    flex: .3;
    display: flex;
    color: whitesmoke;
    max-width: 300px;
    align-items: center;
    cursor: pointer;
}

.footer__coverImage {
    border-radius: 3px;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    object-fit: cover;
}

.footer__center {
    color: whitesmoke;
    flex: .4;
    max-width: 300px;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__right {
    flex: .3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
}

.footer__green {
    color:#1db954;
}

.footer__songInfo > h4 {
    margin-bottom: 5px;
}

.footer__songInfo > p {
    font-size: 12px;
}

.footer__green:hover, .footer__icon:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2) !important;
}

.footer__right * .MuiSlider-root {
    color: #1db954;
    width: 90%;
}