.sidebar {
    flex: 0.2;
    height: 100vh;
    color: #ffffff;
    min-width: 230px;
    padding: 0 10px;
    background-color: #040404;
}

.sidebar > hr {
    border: 1px solid #242424;
    width: 90%;
    margin: 10px auto;
}

.sidebar__logo {
    height: 70px;
    padding: 10px;
    margin-right: auto;
}

.sidebar__title {
    font-size: 12px;
    margin-left: 10px;
    padding: 5px;
    text-transform: uppercase;
}