.sidebarOption {
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 40px;
    color: #808080;
    cursor: pointer;
    transition: .6s color ease-in-out;
}

.sidebarOption:hover {
    color: white;
}

.sidebarOption__icon {
    margin-right: 10px;
}

.sidebarOption > p {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
}